{% assign nav = site.data.nav["main"] %}
<header>
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Healis.Org</a>
        </div>
  <div lass="collapse navbar-collapse" id="navbar1">
    <ul class="nav navbar-nav">
      {% for link in nav %}
	    {% if link.type == "DD" %}
		{% else %}
		  <li {% if link.url == page.url %} class="active"{% endif %}><a href="{% if link.abs %}{{link.abs}}{% else %}{{ site.baseurl }}{{ link.url }}{% endif %}">{{ link.title }}</a></li>
	    {% endif %}
      {% endfor %}
	</ul>
  </div>
  </div>
  </nav>
</header>
