<!-- start SEO -->
{% if site.url %}
  {% assign seo_url = site.url | append: site.baseurl %}
{% endif %}
{% assign seo_url = seo_url | default: site.github.url %}

{% if page.title %}
  {% assign seo_title = page.title | append: " " | append: site.title_separator | append: " " | append: site.title %}
{% endif %}

{% if seo_title %}
  {% assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once %}
{% endif %}

{% if site.url %}
  {% assign canonical_url = page.url | prepend: seo_url | replace: "/index.html", "/" %}
{% endif %}

<title>{{ seo_title | default: site.title }}</title>


<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">

{% if seo_url %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta property="og:url" content="{{ canonical_url }}">
{% endif %}
<!-- TO DO Meta tags and scripts for SEO -->
<!-- End SEO -->
